body{
    background: url("../image/background/loginbackground.png") no-repeat center center fixed;
    background-size: cover;
}
.modal-container{
    margin: 0 auto;
    
}
.modal-content{
    background: rgba(0, 0, 0, .93);
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.user-img{
    margin-top: -50px;
}
img{
    border-radius: 50%;
}

.modal-body{
    color: white;
}
small{
    color: red;
}
button{
    width: 80%;
}

a{
    color: white;
    font-size: 12px;
    
}
a:hover{
    color: red;
}
input[type=text]{
    border-width: 2px;
}
input[type=email]{
    border-width: 2px;
}
input[type=password]{
    border-width: 2px;
}
input.valid{
    border-color: green;
}
input.invalid{
    border-color: red;
}
input + p{
    font-family: arial;
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px;
    color:red;
    opacity: 0;
    height: 0;
} 
input.invalid + p{
    opacity: 1;
    height: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}